.bc-background-undefined { background-color: #999999; }

.bc-background-adobe { background-color: #ED1C24; }

.bc-background-amazon { background-color: #000000; }

.bc-background-bestbuy { background-color: #003b64; }

.bc-background-bing { background-color: #F4BD27; }

.bc-background-chase { background-color: #0659A5;}

.bc-background-craiglist { background-color: #6A429E;}

.bc-background-cnn {background-color: #C90614;}

.bc-background-google {background-color: #4585F3;}

.bc-background-dribbble { background-color: #EB588E; }

.bc-background-dropbox { background-color: #1480E2; }

.bc-background-ebay { background-color: #EFF0EB; }

.bc-background-espn { background-color: #CC0000; }

.bc-background-evernote { background-color: #7CBF4A; }

.bc-background-facebook { background-color: #3b5998; }

.bc-background-flickr { background-color: #ffffff; }

.bc-background-google { background-color: #4285f4; }

.bc-background-googleplus { background-color: #dd4b39; }

.bc-background-instagram { background-color: #2E5E86; }

.bc-background-linkedin { background-color: #0D77B7; }

.bc-background-netflix { background-color: #B81D24; }

.bc-background-oracle { background-color: #d72f32; }

.bc-background-pandora { background-color: #085682; }

.bc-background-paypal { background-color: #F3F3F3; }

.bc-background-pinterest { background-color: #CB2128; }

.bc-background-tumblr { background-color: #35465c; }

.bc-background-twitter { background-color: #61AADB; }

.bc-background-walmart { background-color: #2177CC; }

.bc-background-yahoo { background-color: #443399; }

.bc-background-youtube { background-color: #EA292F; }

.bc-background-wellsfargo { background-color: #B5142F;}

.bc-background-java { background-color: #ed0000;}

.bc-background-apple { background-color: #999999;}

.bc-background-rdio { background-color: #4094CD;}

.bc-background-bankofamerica {background-color: #D11834 ;}

.bc-background-foxnews {background-color: #305B79 ;}

.bc-background-mapquest {background-color: #8CC63F;}

.bc-background-msn {background-color: #127AD4;}

.bc-background-target {background-color: #CC0000;}

.bc-background-turbotax { background-color: #1560B5;}

.bc-background-weatherchannel {background-color: #244AA5;}

.bc-background-wikipedia { background-color: #F2F3F4 ;}

.bc-background-airbnb { background-color: ;}

.bc-background-aol { background-color: #FF0000;}

.bc-background-bbc { background-color: #000000;}

.bc-background-codepen { background-color: #000000; }

.bc-background-github { background-color: #161614; }

.bc-background-homedepot { background-color: #F17028;}

.bc-background-jsfiddle { background-color: #4679BD;}

.bc-background-kickstarter { background-color: #0E2105;}

.bc-background-mapquest { background-color: #8CC63F;}

.bc-background-mashable { background-color: #3C7AB0;}

.bc-background-msn { background-color:  #127AD4;}

.bc-background-nationalgeographic {background-color: #000000;}

.bc-background-netflix { background-color: #B81D24;}

.bc-background-slideshare {background-color: ##0175B1;}

.bc-background-ted { background-color: #DB352A; }

.bc-background-time {background-color: #D82331; }

.bc-background-twitch {background-color: #5A3E85; }

.bc-background-vimeo {background-color: #00DBFF; }

.bc-background-vine {background-color: ##00AA7F; }








